<%-include('partials/head.ejs')%>

<body>
    <main class="error">
        <div class="errorContainer">
            <div class="errorTitle">
                <h1>Oops!</h1>
                <h2>Something went <span>wrong!</span></h2>
                <div class="buttonContainer">
                    <a href="/"><button> Go back!</button></a>
                </div>
            </div>
        </div>
        </main>
</body>
</html>