<%-include('partials/head.ejs')%>
    <header>
       <%-include('partials/navbar.ejs') %>
        <div class="hero">
            <h1>Yummy!</h1>
            <h5>What are you going to cook today?</h5>
        </div>
    </header>
    <%-include('partials/home.ejs')%>
   <%-include('partials/footer.ejs')%>
</body>
</html>